.postContent {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.125rem;
  color: var(--white);

  p, ul {
    margin: 1.5rem 0;
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }

  &.previewContent {
    background: linear-gradient(var(--white), transparent);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.banner {

  max-height: 400px;
  max-width: 100vw;

  width: 100%;
  margin: 0 auto;
  margin-bottom: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-height: 400px;
    max-width: 1440px;

    width: 100%;
  }
}

.icons {
  margin-top: 1.5625rem;

  display: flex;
  align-items: center;

  time {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    font-weight: normal;
    color: var(--gray-300);

    display: flex;
    align-items: center;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.65625rem;
    }
  }

  span {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    font-weight: normal;
    color: var(--gray-300);

    display: flex;
    align-items: center;

    margin-left: 1.625rem;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.65625rem;
    }
  }
}

.isLoading {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 100vh;

  color: var(--white);
}